page-login {
    .action-sheets-basic-page {
        .ion-md-share {
          color: #ED4248;
        }
        .ion-md-arrow-dropright-circle {
          color: rgb(248, 236, 129);
        } 
        .ion-md-heart-outline {
          color: #31D55F;
        }
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive ion-icon {
          color: #ffffff;
        }
        background-color: rgb(214, 214, 212);
        background-position: center;
        //background: url(../assets/imgs/logo.jpg);
        margin: auto;
        z-index: 2;
        position: center;

        .img {
          height: 33vh !important;
          width: auto !important;
          align-items: center;
          background-color: #ffffff;
          z-index: 2;
          margin: 50px;
          }
        .card{
          display: flex;
          flex-direction: column;
          width: 100% !important;
          margin: 0 !important;
        }
        .toolbar {
          background-color: #FC6E51
        }
      }
   
    
}
