<ion-header>
  <ion-toolbar  color="primary">
      <ion-title>News</ion-title>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="md-more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item-sliding *ngFor="let result of results">
      <ion-item>
        <ion-card>
            {{result.title}}   
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
     -->
     <ion-list no-lines>
        <button ion-item *ngFor="let item of results">
          {{ item.title }}
        </button> 
      </ion-list>
     
<!--      
     <ion-list>
        <ion-item-sliding *ngFor="let result of results; let i = index">
          <ion-item >{{i}} - {{result.description}}</ion-item>
        </ion-item-sliding>
    </ion-list> -->
</ion-content>
